

header{
    display: flex;
    align-items: center;

}

.left_menu{
    width: 40%;
}

.left_menu a{
    text-decoration: none;
    height: 22px;
    width: 95px;
}

.right_menu{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}



.right_menu_anchor{
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.login{
    background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
    border-radius: 6px;
    width: 110px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}

    .ham_menu{
        display: none;
        background: transparent;
        border: none;
        outline: none;
    }

.login:hover{
    color: #E9C46B;
    background: white;
    box-shadow: 3px 8px 8px 3px rgb(128 128 128 / 41%)
}

/* ham Menu */

.side_icon{
    display: none;
    

}

.side_icon_menu{
    position: fixed;
    top: 30px;
    right: 0;
    width: 50%;
    height: 300px;
    background-color: white;
    box-shadow: 3px 8px 14px 11px #0000006b;
    padding: 10px;
}

.close_icon{
    cursor: pointer;
}

.mob_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.mob_menu a {
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.login_mob{
    background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
    border-radius: 6px;
    width: 110px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}

.not_active{
    color: #1D1B19;
    opacity: 0.5;
}



@media screen and (max-width:1244px) {
    .right_menu_anchor{
        font-size: 16px;
        line-height: 23px;
    }

    .login{
        width: 85px;
        height: 32px;
        font-size: 16px;
    }

}





@media screen and (max-width:984px) {
    .left_menu{
        width: 30%;
    }

    .right_menu{
        width: 70%;
    }


}


@media screen and (max-width:800px) {
    .left_menu{
        width: 25%;
        align-items: center;
    }

    .right_menu{
        width: 75%;
    }

    body{
        padding: 30px 60px 0 60px;
    }


}

@media screen and (max-width:600px) {
    body{
        padding: 30px 20px 0 20px;
    }



}



@media screen and (max-width:550px) {
    .right_menu_anchor,
    .login{
        display: none;
    }

        .ham_menu{
            display: block;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        .ham_menu svg{
            height: 30px;
            width: 30px;
        }

        .right_menu{
            justify-content: flex-end;
        }



       

}