.side_buttons{
    position: fixed;
    right: 0;
    bottom: 0;
}

.button_stack{
    display: flex;
    flex-direction: column;
}


.iconbutton{
    width:50px;
    height:50px;
    border-radius: 100%;
    background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
    box-shadow: 1px 0px 25px #aaaaaa;
    display: inline-block;
    margin: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

   .iconbutton svg{
       color: white;
   } 

.main_btn{
    width:60px;
    height:60px;
    background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
    border-radius: 50%;
}

.minus{
    display: none;
}

.show{
    position: static ;
    bottom: 70px ;
    transition: 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.hide{
   position: fixed;
   bottom: -100%;
}

.pages{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_plus{
    display: flex;
    justify-content: flex-end;
}

.main_btn{
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_btn svg{
    color: white;

}



.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}




main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}



.main_page_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(224px - 80px);
    flex-direction: column;
}

.circle_spans{
    display: inline-block;
    width: 330px;
    height: 330px;
    border: 4px solid #13395B;
    border-radius: 50%;
}


.bottle_bottom img{
    width: 171px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.tag_and_button{
    width: 536px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 305px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_tag{
    font-size: 52px;
    line-height: 67px;
    color: #13395B;

}

.sub_tag{
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin: 16px 0;
}

.btn_yellow button{
    background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
    border-radius: 6px;
    width: 120px;
    height: 35px;
    border: none;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

@media screen and (max-width:550px) {
    .sub_tag {
        font-size: 12px;
        line-height: 19px;
    }

    .tag_and_button {
        width: 450px;
        top: 360px;
    }

    .main_tag {
        font-size: 32px;
        line-height: 37px;
    }
}

@media screen and (max-width:450px) {
    .circle_spans{
        width: 280px;
        height: 280px;
    }

    .tag_and_button{
        width: 320px;
        top: 330px;
    }

    .main_tag{
        font-size: 23px;
        line-height: 26px;
    }
    .sub_tag{
        line-height: 14px;
    }

}

