





/* main content */

.main_paige_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(224px - 55px);
    flex-direction: column;
}

.bottle_cap img{
    width: 143px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.circle_span{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 4px solid #13395B;
    border-radius: 50%;
}



.bottle_bottom img{
    width: 171px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}











@media screen and (max-width:550px) {


        .main_paige_1{
            margin-top: 14vh;
        }

        .circle_span{
            width: 200px;
            height: 200px;
        }

       

}












